.gp-skylineContainer {
  position: relative;
  flex-shrink: 0;
  overflow: visible;
  width: 504px;
  height: 128px;
}

$speed: 15s;

@mixin skyline($fillColor, $duration, $zIndex) {
  position: absolute;
  fill: $fillColor;
  animation: $duration linear scroll infinite;
  width: 504px;
  height: 128px;
  z-index: $zIndex;
}

.gp-skyline {
  &4 { @include skyline(var(--gray-12), $speed * 1, 4); }
  &3 { @include skyline(var(--gray-11), $speed * 2, 3); }
  &2 { @include skyline(var(--gray-10), $speed * 4, 2); }
  &1 { @include skyline(var(--gray-9),  $speed * 8, 1); }
}

@keyframes scroll {
  from {
    transform: none;
  }
  to {
    transform: translate(-504px);
  }
}